<style type="text/css">

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto 80px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

    @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bounce {
        0%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }

    .spinner2 {
        margin: 100px auto 0;
        width: 70px;
        text-align: center;
    }

    .spinner2 > div {
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner2 .bounce1 {
        background-color: #fff;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner2 .bounce2 {
        background-color: #fff;
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
          -webkit-transform: scale(0);
          transform: scale(0);
        } 40% { 
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
    }
    html {
        height: 100%;
        background-color: #7f8c8d;
    }

    body {

        min-height: 100%;
        background-color: #7f8c8d;
    }

    .title {
        font-size: 3em;
        color: #FFF;
        text-align: center;
    }

    .outer {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .inner {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
    }

    .pin-input {
        margin: 30px auto;
        width: 100%;
        display: block;
        font-size: 20px;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
        border:none;
    }

    .btn-link {
        margin: 30px auto;
        display: block;
        background: #a5aeaf;
        color: #fff;
        padding: 15px 30px;
        font-size: 30px;
        border-radius: 5px;
        border:none !important;
    }

    .btn-link:hover, .btn-link:visited, .btn-link:focus {
        background: #98a3a3;
        color: #fff;
        text-decoration: none;
    }

    .form-outer {
        margin: 2.5em 20vw;
    }

    .simplebox {
        outline: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .tick {
        font-size:300px;
        color:green;
        width:100%;
        text-align:center
    }

    .alert-danger-flat {
        color: #fff;
        background: #d76860;
        border: none;
        border-radius: 0;
    }

    .f-align {
        vertical-align: middle;
    }

    .f-space {
      margin-left: 1em;
    }

</style>

<div class="outer">
    <div class="inner">
        <div ng-show="currStatus == 0">
            <div class="title">Link the Key Dock to your PC</div>
            <form ng-submit="sendPin()" class="form-outer">
                <div ng-show="warning" class="alert alert-danger-flat">
                    <span class="fa fa-warning fa-2x f-align"></span>
                    <span class="f-align f-space"> {{ warningMessage }}</span></div>
                <input type="text" name="pincode" class="simplebox pin-input" placeholder="Enter the device pin" ng-model="pincode"></input>
                <button type="submit" class="btn btn-link simplebox">Link the device</button>
            </form>
            <video id="preview"></video>
        </div>
        <div ng-show="currStatus == 1">
          <div class="spinner2">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="title">Please wait. We're connecting to your device.</div>
        </div>
        <div ng-show="currStatus == 2">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="title">Please press the sync button on the device.</div>
        </div>
        <div ng-show="currStatus == 3">
            <div class="title">Success! Your device is now connected.</div>
        </div>
    </div>
</div>
